* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}

:root {
    --label-colorlightprimary: rgba(0, 0, 0, 1);
}




.CCTV {
    background-color: #f9faff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.CCTV .div {
    background-color: #f9faff;
    width: 390px;
    height: 935px;
    position: relative;
}

.CCTV .group {
    position: absolute;
    width: 390px;
    height: 65px;
    top: 30px;
    left: 0;
    background-color: #fafbff;
}

.CCTV .phosphor-icons {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 11px;
    left: 21px;
}

.CCTV .group-2 {
    position: absolute;
    width: 94px;
    height: 42px;
    top: 8px;
    left: 269px;
}

.CCTV .img {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0;
    left: 0;
}

.CCTV .phosphor-icons-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 1px;
    left: 54px;
}

.CCTV .group-3 {
    position: absolute;
    width: 142px;
    height: 48px;
    top: 103px;
    left: 30px;
}

.CCTV .group-4 {
    position: absolute;
    width: 142px;
    height: 21px;
    top: 27px;
    left: 0;
}

.CCTV .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 25px;
    letter-spacing: -2.50px;
    line-height: 21px;
    white-space: nowrap;
}

.CCTV .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: -1.80px;
    line-height: 21px;
    white-space: nowrap;
}

.CCTV .group-5 {
    position: absolute;
    width: 330px;
    height: 330px;
    top: 201px;
    left: 30px;
}

.CCTV .overlap-group-wrapper {
    position: absolute;
    width: 332px;
    height: 60px;
    top: 0;
    left: 0;
}

.CCTV .overlap-group {
    height: 62px;
    top: -1px;
    left: -1px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #3256fe;
    position: relative;
    border-radius: 5px;
}

.CCTV .text-wrapper-3 {
    top: 19px;
    left: 15px;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #757575;
    font-size: 18px;
    letter-spacing: -1.80px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.CCTV .overlap-wrapper {
    position: absolute;
    width: 332px;
    height: 60px;
    top: 180px;
    left: 0;
}

.CCTV .div-wrapper {
    position: absolute;
    width: 332px;
    height: 60px;
    top: 270px;
    left: 0;
}

.CCTV .group-6 {
    position: absolute;
    width: 332px;
    height: 60px;
    top: 90px;
    left: 0;
}

.CCTV .group-7 {
    position: absolute;
    width: 127px;
    height: 60px;
    top: 581px;
    left: 235px;
}

.CCTV .overlap {
    width: 125px;
    height: 60px;
    background-color: #3256fe;
    position: relative;
    border-radius: 5px;
}

.CCTV .text-wrapper-4 {
    top: 20px;
    left: 46px;
    font-family: "Noto Sans KR-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -2.00px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.text-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 20px 15px;
  font-family: "Noto Sans KR-Regular", Helvetica, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: transparent;
  box-sizing: border-box;
}

.overlap-group {
  height: 62px;
  background-color: #ffffff;
  border: 1px solid #3256fe;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
