
body {
  margin: 0px;
  padding: 0;
  height: 100%;
}

.x {
    background-color: #fafbff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.x .div {
    background-color: #fafbff;
    width: 390px;
    height: 1260px;
    position: relative;
}

.x .logo {
    position: absolute;
    width: 150px;
    height: 48px;
    top: 100px;
    left: 30px;
    object-fit: cover;
}

.x .text-wrapper {
    margin: 0;
    top: 167px;
    left: 32px;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2.00px;
    line-height: 50px;
    position: absolute;
    color: #000000;
}

.x .line {
    position: absolute;
    width: 330px;
    height: 1px;
    top: 397px;
    left: 30px;
    object-fit: cover;
}

.x .group {
    position: absolute;
    width: 350px;
    height: 71px;
    top: 1169px;
    left: 23px;
}

.x .argos-CCTV {
    position: absolute;
    width: 331px;
    top: 427px;
    left: 42px;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: -0.90px;
    line-height: 30px;
}

.x .argos {
    position: absolute;
    width: 318px;
    top: 1016px;
    left: 30px;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: -0.90px;
    line-height: 30px;
}

.x .p {
    width: 306px;
    top: 737px;
    left: 42px;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.90px;
    line-height: 30px;
    position: absolute;
    color: #000000;
}

.x .text-wrapper-2 {
    top: 677px;
    left: 30px;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -1.25px;
    line-height: 50px;
    white-space: nowrap;
    position: absolute;
    color: #000000;
}

.x .text-wrapper-3 {
    top: 956px;
    left: 30px;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -1.25px;
    line-height: 50px;
    white-space: nowrap;
    position: absolute;
    color: #000000;
}

.x .phosphor-icons {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 32px;
    left: 21px;
}

.x .box {
  position: absolute;
  bottom: 30px; /* 화면 맨 아래에서 30px 위 */
  left: 30px;
  width: 330px;
  height: 51px;
  z-index: 10;
}

.box .rectangle {
  width: 100%;
  height: 100%;
  background-color: #3256fe;
  border-radius: 4px;
  color: white;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-size: 16px;
  text-align: center;
  line-height: 51px;
  cursor: pointer;
}

.x .divider {
  position: absolute;
  top: 415px;  /* .text-wrapper보다 약간 아래로 */
  left: 30px;
  width: 330px;
  height: 1px;
  background-color: #757575;
  border: none;
}





:root {
    --label-colorlightprimary: rgba(0, 0, 0, 1);
}
