* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  padding: 0;
  background-color: #f9faff;

}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.main-dashboard {
  background-color: #f9faff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-dashboard .div {
  background-color: #f9faff;
  width: 390px;
  height: 844px;
  position: relative;
}

.main-dashboard .group {
  position: absolute;
  width: 390px;
  height: 80px;
  top: 15px;
  left: 0;
}

.main-dashboard .overlap-group {
  position: relative;
  height: 80px;
}

.main-dashboard .rectangle {
  position: absolute;
  width: 390px;
  height: 65px;
  top: 15px;
  left: 0;
  background-color: #fafbff;
}

.main-dashboard .group-2 {
  position: absolute;
  width: 350px;
  height: 80px;
  top: 0;
  left: 13px;
}

.main-dashboard .group-3 {
  position: absolute;
  width: 94px;
  height: 42px;
  top: 23px;
  left: 256px;
}

.main-dashboard .phosphor-icons {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 0;
}

.main-dashboard .img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1px;
  left: 54px;
}

.main-dashboard .logo-s {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main-dashboard .group-4 {
  position: absolute;
  width: 141px;
  height: 48px;
  top: 103px;
  left: 30px;
    z-index: 2;
}

.main-dashboard .group-5 {
  position: absolute;
  width: 145px;
  height: 22px;
  top: 26px;
  left: 0;
}

.main-dashboard .text-wrapper {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: -2.50px;
  line-height: 21px;
  white-space: nowrap;
}

.main-dashboard .overlap-group-2 {
  position: absolute;
  width: 43px;
  height: 22px;
  top: 0;
  left: 96px;
}

.main-dashboard .text-wrapper-2 {
  position: absolute;
  top: 1px;
  left: 20px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: -2.50px;
  line-height: 21px;
  white-space: nowrap;
}

.main-dashboard .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #3256fe;
  font-size: 35px;
  letter-spacing: -3.50px;
  line-height: 21px;
  white-space: nowrap;
}

.main-dashboard .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Noto Sans KR-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: -1.80px;
  line-height: 21px;
  white-space: nowrap;
}

.main-dashboard .group-6 {
  position: absolute;
  width: 329px;
  height: 329px;
  top: 472px;
  left: 30px;
}

.main-dashboard .overlap-group-wrapper {
  position: absolute;
  width: 153px;
  height: 151px;
  top: 0;
  left: 178px;
}

.main-dashboard .overlap-group-3 {
  position: relative;
  width: 151px;
  height: 151px;
  background-color: #ebeeff;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #ccd5ff;
}

.main-dashboard .frame {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 91px;
  left: 91px;
}

.main-dashboard .text-wrapper-5 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 30px;
}

.main-dashboard .overlap-wrapper {
  position: absolute;
  width: 153px;
  height: 151px;
  top: 178px;
  left: 0;
}

.main-dashboard .div-wrapper {
  position: absolute;
  width: 153px;
  height: 151px;
  top: 174px;
  left: 178px;
}

.main-dashboard .group-7 {
  position: absolute;
  width: 153px;
  height: 151px;
  top: 0;
  left: 0;
}

.main-dashboard .overlap {
  position: relative;
  width: 151px;
  height: 151px;
  background-color: #eaeeff;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #ccd5ff;
}

.main-dashboard .group-8 {
  position: absolute;
  width: 41px;
  height: 40px;
  top: 92px;
  left: 92px;
}

.main-dashboard .group-9 {
  position: absolute;
  width: 330px;
  height: auto;
  top: 181px;
  left: 30px;
}

.main-dashboard .overlap-2 {
  position: relative;
  width: 340px;
  height: 260px;
  aspect-ratio: 4 / 3;
  top: -6px;
  left: -6px;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.main-dashboard .group-10 {
  position: absolute;
  width: 67px;
  height: 30px;
  top: 6px;
  left: 6px;
  z-index: 2;
}

.main-dashboard .overlap-group-4 {
  position: relative;
  width: 65px;
  height: 30px;
  background-color: #3256fe;
  border-radius: 5px;
}

.main-dashboard .text-wrapper-6 {
  position: absolute;
  top: 5px;
  left: 15px;
  font-family: "Noto Sans KR-Regular", Helvetica;
  font-weight: 400;
  color: #fafbff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.main-dashboard .group-11 {
  position: absolute;
  width: 92px;
  height: 40px;
  top: 214px;
  left: 246px;
  z-index: 1;
}

.main-dashboard .overlap-3 {
  position: relative;
  width: 90px;
  height: 40px;
  background-color: #3256fe;
  border-radius: 5px;

}

.main-dashboard .text-wrapper-7 {
  position: absolute;
  width: 52px;
  top: 15px;
  left: 19px;
  font-family: "Noto Sans KR-Regular", Helvetica;
  font-weight: 400;
  color: #fafbff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 10px;
  white-space: nowrap;
}
  .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;

  }

  #live-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;

  }

