* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html, body {
    margin: 0px;
    padding: 0;
    height: 100%;
}
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}
:root {
    --label-colorlightprimary: rgba(0, 0, 0, 1);
}

.screen {
    background-color: #f9faff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div {
    background-color: #f9faff;
    width: 390px;
    height: 1300px;
    position: relative;
}

/* 헤더 */
.screen .group {
    position: absolute;
    width: 390px;
    height: 80px;
    top: 10px;
    left: 0;
}
.screen .overlap-group {
    position: relative;
    height: 80px;
}
.screen .rectangle {
    position: absolute;
    width: 390px;
    height: 65px;
    top: 0;
    left: 0;
    background-color: #fafbff;
}
.screen .group-2 {
    position: absolute;
    width: 390px;
    height: 65px;
    top: 15px;
    left: 0;
    background-color: #fafbff;
}
.screen .phosphor-icons {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 11px;
    left: 21px;
}
.screen .group-3 {
    position: absolute;
    width: 94px;
    height: 42px;
    top: 8px;
    left: 269px;
}
.screen .img {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0;
    left: 0;
}
.screen .phosphor-icons-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 1px;
    left: 54px;
}

/* 타이틀 */
.screen .group-4 {
    position: absolute;
    width: 141px;
    height: 48px;
    top: 103px;
    left: 30px;
}
.screen .group-5 {
    position: absolute;
    width: 145px;
    height: 22px;
    top: 26px;
    left: 0;
}
.screen .text-wrapper {
    position: absolute;
    top: 1px;
    left: 0;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 25px;
    letter-spacing: -2.5px;
    line-height: 21px;
    white-space: nowrap;
}
.screen .overlap-group-2 {
    position: absolute;
    width: 43px;
    height: 22px;
    top: 0;
    left: 96px;
}
.screen .text-wrapper-2 {
    position: absolute;
    top: 1px;
    left: 20px;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 25px;
    letter-spacing: -2.5px;
    line-height: 21px;
    white-space: nowrap;
}
.screen .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #3256fe;
    font-size: 35px;
    letter-spacing: -3.5px;
    line-height: 21px;
    white-space: nowrap;
}
.screen .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: -1.8px;
    line-height: 21px;
    white-space: nowrap;
}

/* 공통 카드 스타일 */
.screen .overlap-wrapper,
.screen .group-7,
.screen .group-9,
.screen .group-10 {
    position: absolute;
    width: 330px;
    height: 250px;
}
.screen .overlap-wrapper { top: 181px; left: 30px; }
.screen .group-7 { top: 459px; left: 29px; }
.screen .group-9 { top: 737px; left: 29px; }
.screen .group-10 { top: 1015px; left: 29px; }

/* 공통 오버랩 */
.screen .overlap,
.screen .overlap-2,
.screen .overlap-3,
.screen .overlap-4 {
    position: relative;
    top: -6px;
    left: -6px;
    width: 100%;
    height: auto;
    background: none;
    background-size: cover;
    background-position: 50% 50%;
}

/* 카메라 라벨 */
.screen .group-wrapper {
    position: absolute;
    width: 130px;
    height: 30px;
    top: 6px;
    left: 6px;
    background-color: #3256fe;
    border-radius: 5px;
}
.screen .group-6 {
    position: relative;
    width: 100px;
    height: 21px;
    top: 5px;
    left: 17px;
}
.screen .text-wrapper-5 {
    position: absolute;
    width: 35px;
    top: 0;
    left: 0;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #fafbff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;

}
.screen .text-wrapper-6 {
    position: absolute;
    width: 51px;
    top: 0;
    left: 45px;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #fafbff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
}
.screen .group-8 {
    position: absolute;
    width: 83px;
    height: 30px;
    top: 6px;
    left: 6px;
}
.screen .overlap-group-3 {
    position: relative;
    width: 81px;
    height: 30px;
    background-color: #3256fe;
    border-radius: 5px;
}
.screen .text-wrapper-8 {
    position: absolute;
    width: 51px;
    top: 5px;
    left: 15px;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #fafbff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
}

/* 기록버튼 */
.screen .overlap-group-wrapper {
    position: absolute;
    width: 92px;
    height: 40px;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}
.screen .div-wrapper {
    width: 90px;
    height: 36px;
    background-color: #3256fe;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen .text-wrapper-7 {
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 14px;
    color: #fafbff;
    white-space: nowrap;
    line-height: 10px;
}

/* 영상 박스 */
.live-div {
    width: 100%;
    aspect-ratio: 4 / 3;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.live_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
