* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


.login {
  background-color: #fafbff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.login .div {
  background-color: #fafbff;
  width: 390px;
  height: 844px;
  position: relative;
 
}

.login .logo {
  position: absolute;
  width: 150px;
  height: 48px;
  top: 100px;
  left: 30px;
  object-fit: cover;
}

.login .argos {
  position: absolute;
  top: 167px;
  left: 32px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: -2.00px;
  line-height: 50px;
}

.login .group {
  position: absolute;
  width: 332px;
  height: 250px;
  top: 323px;
  left: 30px;
}

.login .text-wrapper {
  position: absolute;
  top: 230px;
  left: 95px;
  font-family: "Noto Sans KR-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  letter-spacing: -0.80px;
  line-height: 20px;
  white-space: nowrap;
}

.login .input-inner {
  top: 0;
  display: flex;
  width: 330px;
  height: 50px;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  position: absolute;
  left: 0;
  background-color: var(--gray-0210);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 4px #ccd4ff;
}

.login .text-wrapper-2 {
  position: relative;
  flex: 1;
  font-family: var(--body-text-inter-14-regular-font-family);
  font-weight: var(--body-text-inter-14-regular-font-weight);
  color: #757575;
  font-size: var(--body-text-inter-14-regular-font-size);
  letter-spacing: var(--body-text-inter-14-regular-letter-spacing);
  line-height: var(--body-text-inter-14-regular-line-height);
  font-style: var(--body-text-inter-14-regular-font-style);
}

.login .input-inner-2 {
  top: 70px;
  display: flex;
  width: 330px;
  height: 50px;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  position: absolute;
  left: 0;
  background-color: var(--gray-0210);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 4px #ccd4ff;
}

.login .text-wrapper-3 {
  position: relative;
  flex: 1;
  font-family: var(--body-text-inter-14-regular-font-family);
  font-weight: var(--body-text-inter-14-regular-font-weight);
  color: var(--gray-0270);
  font-size: var(--body-text-inter-14-regular-font-size);
  letter-spacing: var(--body-text-inter-14-regular-letter-spacing);
  line-height: var(--body-text-inter-14-regular-line-height);
  font-style: var(--body-text-inter-14-regular-font-style);
}

.login .phosphor-icons-eye {
  position: relative;
  width: 16px;
  height: 16px;
}

.login .img {
  position: absolute;
  width: 350px;
  height: 70px;
  top: 145px;
  left: -7px;
}

.login .overlap-group-wrapper {
  position: absolute;
  width: 332px;
  height: 50px;
  top: 754px;
  left: 30px;
    background-color: #EBEEFF;
}

.login .overlap-group {
  position: relative;
  width: 330px;
  height: 50px;
  background-color: #ebeeff;
  border-radius: 4px;
}

.login .text-wrapper-4 {
  position: absolute;
  top: 15px;
  left: 146px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #3256fe;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;}

.box {
width: 330px;
height: 50px;
}

.box .rectangle {
  width: 330px;
  height: 50px;
  background-color: #3256fe;
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: bold;

  /* ✨ 수정사항: 고정 해제하고 margin으로 정렬 */
  position: relative;
  top: 160px; /* 적절한 위치로 조절 가능 */
  left: 0;
}



button:focus-visible {
outline: 2px solid #4a90e2 !important;
outline: -webkit-focus-ring-color auto 5px !important;
}



:root {
  --gray-0270: rgba(117, 117, 117, 1);
  --gray-0210: rgba(255, 255, 255, 1);
  --body-text-inter-14-regular-font-family: "Inter", Helvetica;
  --body-text-inter-14-regular-font-weight: 400;
  --body-text-inter-14-regular-font-size: 14px;
  --body-text-inter-14-regular-letter-spacing: 0px;
  --body-text-inter-14-regular-line-height: 20px;
  --body-text-inter-14-regular-font-style: normal;
}
