
body {
  	margin: 0;
  	line-height: normal;
    background-color: #fafbff
}


.logout-link {
  position: absolute;
  top: 763px;
  left: 33px;
  font-size: 16px;
  font-weight: 400;
  color: #000 !important;              /* 검정색으로 고정 */
  text-decoration: none !important;    /* 밑줄 제거 */
  letter-spacing: -0.05em;
  line-height: 16px;
  z-index: 9999;
  border: none;                        /* 테두리 제거 */
  background: none;                    /* 배경 제거 */
}

.logout-link:visited,
.logout-link:hover,
.logout-link:active,
.logout-link:focus {
  color: #000 !important;
  text-decoration: none !important;
}


.statusbar-iphone-6-7-8-se {
  	position: absolute;
  	top: 4px;
  	left: 7px;
  	width: 375px;
  	height: 20px;
  	overflow: hidden;
  	display: none;
}
.phosphor-icons-caretleft {
  	position: absolute;
  	top: 32px;
  	left: 21px;
  	width: 32px;
  	height: 32px;
  	cursor: pointer;
}
.phosphor-icons-usercircle {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 85px;
  	height: 85px;
  	cursor: pointer;
}
.div{
     margin: 0 auto;
	   height: auto; 
}
.div1 {
  	position: absolute;
  	top: 9px;
  	left: 102px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
  	font-weight: 500;
}
.nayongseok01gmailcom {
  	position: absolute;
  	top: 35px;
  	left: 102px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
  	font-weight: 300;
}
.div2 {
  	position: absolute;
  	top: 62px;
  	left: 102px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
  	font-weight: 300;
}
.phosphor-icons-usercircle-parent {
  	position: absolute;
  	top: 74px;
  	left: 25px;
  	width: 325px;
  	height: 85px;
  	font-size: 20px;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 7px 0px 0px 7px;
  	background-color: #ebeeff;
  	width: 370px;
  	height: 30px;
}
.div3 {
  	position: absolute;
  	top: 6px;
  	left: 13px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
  	display: inline-block;
  	width: 56px;
  	height: 18px;
}
.rectangle-parent {
  	position: absolute;
  	top: 179px;
  	left: 20px;
  	width: 370px;
  	height: 30px;
  	font-size: 15px;
}
.rectangle-group {
  	position: absolute;
  	top: 357px;
  	left: 20px;
  	width: 370px;
  	height: 30px;
  	font-size: 15px;
}
.rectangle-container {
  	position: absolute;
  	top: 499px;
  	left: 22px;
  	width: 370px;
  	height: 30px;
  	font-size: 15px;
}
.group-div {
  	position: absolute;
  	top: 713px;
  	left: 22px;
  	width: 370px;
  	height: 30px;
  	font-size: 15px;
}
.div7 {
  	position: absolute;
  	top: 229px;
  	left: 33px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
}
.phosphor-icons-caretright {
  	position: absolute;
  	top: 229px;
  	left: 344px;
  	width: 16px;
  	height: 16px;
}
.phosphor-icons-caretright1 {
  	position: absolute;
  	top: 265px;
  	left: 344px;
  	width: 16px;
  	height: 16px;
}
.phosphor-icons-caretright2 {
  	position: absolute;
  	top: 301px;
  	left: 344px;
  	width: 16px;
  	height: 16px;
}
.phosphor-icons-caretright3 {
  	position: absolute;
  	top: 407px;
  	left: 344px;
  	width: 16px;
  	height: 16px;
}
.phosphor-icons-caretright4 {
  	position: absolute;
  	top: 443px;
  	left: 344px;
  	width: 16px;
  	height: 16px;
}
.phosphor-icons-caretright5 {
  	position: absolute;
  	top: 549px;
  	left: 344px;
  	width: 16px;
  	height: 16px;
}
.phosphor-icons-caretright6 {
  	position: absolute;
  	top: 585px;
  	left: 344px;
  	width: 16px;
  	height: 16px;
}
.phosphor-icons-caretright7 {
  	position: absolute;
  	top: 621px;
  	left: 344px;
  	width: 16px;
  	height: 16px;
}
.phosphor-icons-caretright8 {
  	position: absolute;
  	top: 657px;
  	left: 344px;
  	width: 16px;
  	height: 16px;
}
.phosphor-icons-caretright9 {
  	position: absolute;
  	top: 763px;
  	left: 344px;
  	width: 16px;
  	height: 16px;
	z-index: 1;
}
.phosphor-icons-caretright10 {
  	position: absolute;
  	top: 799px;
  	left: 344px;
  	width: 16px;
  	height: 16px;
}
.div8 {
  	position: absolute;
  	top: 265px;
  	left: 33px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
}
.div9 {
  	position: absolute;
  	top: 301px;
  	left: 33px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
}
.div10 {
  	position: absolute;
  	top: 549px;
  	left: 33px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
}
.div11 {
  	position: absolute;
  	top: 585px;
  	left: 33px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
}
.div12 {
  	position: absolute;
  	top: 621px;
  	left: 33px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
}
.div13 {
  	position: absolute;
  	top: 657px;
  	left: 33px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
}
.div14 {
  	position: absolute;
  	top: 407px;
  	left: 33px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
}
.div15 {
  	position: absolute;
  	top: 443px;
  	left: 33px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
}
.div16 {
  	position: relative;
  	top: 763px;
  	left: 33px;
  	letter-spacing: -0.05em;
  	line-height: 16px;

}
.div17 {
  	position: absolute;
  	top: 799px;
  	left: 33px;
  	letter-spacing: -0.05em;
  	line-height: 16px;
}
.div {
  width: 390px;
  height: 850px;
  margin: 0 auto;
  position: relative;
  background-color: #fafbff;
}


