
body {
  	margin: 0;
  	line-height: normal;
	background-color: #fafbff;
	padding-top: 130px;
}

a{
	text-decoration: none;
}



.statusbar-iphone-6-7-8-se {
  	position: absolute;
  	top: 4px;
  	left: 7px;
  	width: 375px;
  	height: 20px;
  	overflow: hidden;
  	display: none;
}
.logo-2-icon {
  	position: absolute;
  	top: 100px;
  	left: 30px;
  	width: 150.4px;
  	height: 48px;
  	object-fit: cover;
}
.p {
  	margin: 0;
}
.b {
  	position: absolute;
  	top: 168px;
  	left: 32px;
  	font-size: 40px;
  	letter-spacing: -0.05em;
  	line-height: 50px;
  	font-family: 'Noto Sans KR';
  	color: #000;
}
.div {
  	position: absolute;
  	top: 298px;
  	left: 42px;
  	letter-spacing: -0.05em;
  	line-height: 20px;
  	font-family: 'Noto Sans KR';
  	color: #3256fe;
  	display: inline-block;
  	width: 66px;
  	height: 21px;
}
.div1 {
  	position: absolute;
  	top: 649px;
  	left: 42px;
  	letter-spacing: -0.05em;
  	line-height: 20px;
  	font-family: 'Noto Sans KR';
  	color: #3256fe;
  	display: inline-block;
  	width: 66px;
  	height: 21px;
}
.div2 {
  	flex: 1;
  	position: relative;
  	line-height: 20px;
}
.input-inner {
  	position: absolute;
  	top: 329px;
  	left: 30px;
  	box-shadow: 0px 0px 4px #ccd5ff;
  	border-radius: 4px;
  	background-color: #fff;
  	width: 330px;
  	height: 50px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 6px 12px;
  	box-sizing: border-box;
}
.input-inner1 {
  	position: absolute;
  	top: 539px;
  	left: 30px;
  	box-shadow: 0px 0px 4px #ccd5ff;
  	border-radius: 4px;
  	background-color: #fff;
  	width: 330px;
  	height: 50px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 6px 12px;
  	box-sizing: border-box;
}
.input-inner2 {
  	position: absolute;
  	top: 679px;
  	left: 30px;
  	box-shadow: 0px 0px 4px #ccd5ff;
  	border-radius: 4px;
  	background-color: #fff;
  	width: 330px;
  	height: 50px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 6px 12px;
  	box-sizing: border-box;
}
.input-inner3 {
  	position: absolute;
  	top: 749px;
  	left: 30px;
  	box-shadow: 0px 0px 4px #ccd5ff;
  	border-radius: 4px;
  	background-color: #fff;
  	width: 330px;
  	height: 50px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 6px 12px;
  	box-sizing: border-box;
}
.input-inner4 {
  	position: absolute;
  	top: 819px;
  	left: 30px;
  	box-shadow: 0px 0px 4px #ccd5ff;
  	border-radius: 4px;
  	background-color: #fff;
  	width: 330px;
  	height: 50px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 6px 12px;
  	box-sizing: border-box;
}
.input-inner5 {
  	position: absolute;
  	top: 889px;
  	left: 30px;
  	box-shadow: 0px 0px 4px #ccd5ff;
  	border-radius: 4px;
  	background-color: #fff;
  	width: 330px;
  	height: 50px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 6px 12px;
  	box-sizing: border-box;
}
.phosphor-icons-eye {
  	width: 16px;
  	position: relative;
  	height: 16px;
}
.input-inner6 {
  	position: absolute;
  	top: 399px;
  	left: 30px;
  	box-shadow: 0px 0px 4px #ccd5ff;
  	border-radius: 4px;
  	background-color: #fff;
  	width: 330px;
  	height: 50px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 6px 12px;
  	box-sizing: border-box;
  	gap: 4px;
}
.input-inner7 {
  	position: absolute;
  	top: 469px;
  	left: 30px;
  	box-shadow: 0px 0px 4px #ccd5ff;
  	border-radius: 4px;
  	background-color: #fff;
  	width: 330px;
  	height: 50px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 6px 12px;
  	box-sizing: border-box;
  	gap: 4px;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 4px;
  	background-color: #3256fe;
  	width: 330px;
  	height: 51px;
}
.b1 {
  	position: absolute;
  	top: 15px;
  	left: 146px;
  	line-height: 20px;
  	display: inline-block;
  	width: 52px;
  	height: 21px;
}
.rectangle-parent {
  	position: absolute;
  	top: 969px;
  	left: 30px;
  	box-shadow: 3px 5px 10px #8da0fe;
  	width: 330px;
  	height: 51px;
  	color: #fafbff;
  	font-family: 'Noto Sans KR';
}
.div10 {
  	position: absolute;
  	top: 594px;
  	left: 41px;
  	text-decoration: underline;
  	letter-spacing: -0.05em;
  	line-height: 20px;
  	font-family: 'Noto Sans KR';
  	cursor: pointer;
}
.phosphor-icons-caretleft {
  	position: absolute;
  	top: 32px;
  	left: 21px;
  	width: 32px;
  	height: 32px;
  	cursor: pointer;
}
.sign-up {
  	width: 380px;
  	position: relative;
  	background-color: #fafbff;
  	height: 1060px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 14px;
  	color: #757575;
  	font-family: Inter;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.div2 {
  border: none; /* 검은 선 제거 */
  outline: none; /* 클릭했을 때 생기는 테두리 제거 */
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #757575;
  background-color: transparent;
}
