* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


.start-dashboard {
  background-color: #f9faff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.start-dashboard .overlap-group-wrapper {
  background-color: #f9faff;
  width: 390px;
  height: 844px;
}

.start-dashboard .overlap-group {
  position: relative;
  height: 844px;
}

.start-dashboard .rectangle {
  position: absolute;
  width: 390px;
  height: 844px;
  top: 0;
  left: 0;
  background-color: #3256fe;
}

.start-dashboard .group {
  position: absolute;
  width: 303px;
  height: 142px;
  top: 349px;
  left: 53px;
}

.start-dashboard .image {
  position: absolute;
  width: 301px;
  height: 100px;
  top: 42px;
  left: 0;
  object-fit: cover;
}

.start-dashboard .text-wrapper {
  position: absolute;
  top: 0;
  left: 8px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #fafbff;
  font-size: 25px;
  letter-spacing: -1.25px;
  line-height: 34px;
  white-space: nowrap;
}
