* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    
    margin: 0px;
    padding: 0;
    font-family: "Noto Sans KR-Bold";
    height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}

:root {
    --label-colorlightprimary: rgba(0, 0, 0, 1);
}

.screen {
    background-color: #f9faff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div {
    background-color: #f9faff;
    width: 390px;
    height: 1465px;
    position: relative;
}

.screen .group {
    position: absolute;
    width: 74px;
    height: 21px;
    top: 154px;
    left: 30px;
}

.screen .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 25px;
    letter-spacing: -2.50px;
    line-height: 21px;
    white-space: nowrap;
}

.screen .div-wrapper {
    position: absolute;
    width: 123px;
    height: 21px;
    top: 810px;
    left: 32px;
}

.screen .text-wrapper-2 {
    position: absolute;
    top: 102px;
    left: 30px;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: -1.80px;
    line-height: 21px;
    white-space: nowrap;
}

.screen .overlap-group-wrapper {
    position: absolute;
    width: 390px;
    height: 80px;
    top: 10px;
    left: 0;
}

.screen .overlap-group {
    position: relative;
    height: 80px;
}

.screen .rectangle {
    position: absolute;
    width: 390px;
    height: 65px;
    top: 0;
    left: 0;
    background-color: #fafbff;
}

.screen .group-2 {
    position: absolute;
    width: 390px;
    height: 65px;
    top: 15px;
    left: 0;
    background-color: #fafbff;
}

.screen .phosphor-icons {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 11px;
    left: 21px;
}

.screen .group-3 {
    position: absolute;
    width: 94px;
    height: 42px;
    top: 8px;
    left: 269px;
}

.screen .img {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0;
    left: 0;
}

.screen .phosphor-icons-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 1px;
    left: 54px;
}

.screen .group-4 {
    position: absolute;
    width: 330px;
    height: 130px;
    top: 190px;
    left: 30px;
    background-color: #ebeeff;
    border-radius: 5px;
}

.screen .group-5 {
    position: absolute;
    width: 82px;
    height: 47px;
    top: 20px;
    left: 175px;
}

.screen .text-wrapper-3 {
    position: absolute;
    top: 26px;
    left: 0;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
}

.screen .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Noto Sans KR-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
}

.screen .group-6 {
    position: absolute;
    width: 150px;
    height: 100px;
    top: 15px;
    left: 10px;
}

.screen .phosphor-icons-wrapper {
    position: relative;
    width: 162px;
    height: 112px;
    top: -6px;
    left: -6px;
    background-size: cover;
    background-position: 50% 50%;
}

.screen .phosphor-icons-3 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 40px;
    left: 65px;
}

.screen .group-7 {
    position: absolute;
    width: 330px;
    height: 130px;
    top: 846px;
    left: 30px;
    background-color: #ebeeff;
    border-radius: 5px;
}

.screen .img-wrapper {
    position: relative;
    width: 162px;
    height: 112px;
    top: -6px;
    left: -6px;
    background-size: cover;
    background-position: 50% 50%;
}

.screen .group-8 {
    position: absolute;
    width: 330px;
    height: 130px;
    top: 340px;
    left: 30px;
    background-color: #ebeeff;
    border-radius: 5px;
}

.screen .overlap-group-2 {
    position: relative;
    width: 162px;
    height: 112px;
    top: -6px;
    left: -6px;
    background-size: cover;
    background-position: 50% 50%;
}

.screen .group-9 {
    position: absolute;
    width: 330px;
    height: 130px;
    top: 996px;
    left: 30px;
    background-color: #ebeeff;
    border-radius: 5px;
}

.screen .overlap-group-3 {
    position: relative;
    width: 162px;
    height: 112px;
    top: -6px;
    left: -6px;
    background-size: cover;
    background-position: 50% 50%;
}

.screen .group-10 {
    position: absolute;
    width: 330px;
    height: 130px;
    top: 490px;
    left: 28px;
    background-color: #ebeeff;
    border-radius: 5px;
}

.screen .overlap-group-4 {
    position: relative;
    width: 162px;
    height: 112px;
    top: -6px;
    left: -6px;
    background-size: cover;
    background-position: 50% 50%;
}

.screen .group-11 {
    position: absolute;
    width: 330px;
    height: 130px;
    top: 1146px;
    left: 28px;
    background-color: #ebeeff;
    border-radius: 5px;
}

.screen .overlap-group-5 {
    position: relative;
    width: 162px;
    height: 112px;
    top: -6px;
    left: -6px;
    background-size: cover;
    background-position: 50% 50%;
}

.screen .group-12 {
    position: absolute;
    width: 330px;
    height: 130px;
    top: 1296px;
    left: 30px;
    background-color: #ebeeff;
    border-radius: 5px;
}

.screen .overlap-group-6 {
    position: relative;
    width: 162px;
    height: 112px;
    top: -6px;
    left: -6px;
    background-size: cover;
    background-position: 50% 50%;
}

.screen .group-13 {
    position: absolute;
    width: 330px;
    height: 130px;
    top: 640px;
    left: 30px;
    background-color: #ebeeff;
    border-radius: 5px;
}

.screen .overlap-group-7 {
    position: relative;
    width: 162px;
    height: 112px;
    top: -6px;
    left: -6px;
    background-size: cover;
    background-position: 50% 50%;
}
