* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
    padding: 0;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}

.screen {
    background-color: #f9faff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div {
    background-color: #f9faff;
    width: 390px;
    height: 849px;
    position: relative;
}

.screen .group {
    position: absolute;
    width: 159px;
    height: 48px;
    top: 103px;
    left: 30px;
}

.screen .div-wrapper {
    position: absolute;
    width: 159px;
    height: 21px;
    top: 27px;
    left: 0;
}

.screen .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 25px;
    letter-spacing: -2.50px;
    line-height: 21px;
    white-space: nowrap;
}

.screen .p {
    top: 0px;
    left: 0;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: -1.80px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.screen .overlap-group-wrapper {
    position: absolute;
    width: 330px;
    height: 248px;
    top: 171px;
    left: 30px;
}

.screen .overlap-group {
    position: relative;
    width: 330px;
    height: 260px;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
}

.screen .phosphor-icons {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 105px;
    left: 146px;
}

.screen .group-2 {
    position: absolute;
    width: 330px;
    height: 380px;
    top: 444px;
    left: 28px;
    background-color: #ebeeff;
    border-radius: 5px;
}

.screen .group-3 {
    position: absolute;
    width: 175px;
    height: 21px;
    top: 20px;
    left: 25px;
}

.screen .group-4 {
    position: absolute;
    width: 280px;
    height: 320px;
    top: 61px;
    left: 25px;
}

.screen .text-wrapper-2 {
    top: 0;
    left: 0;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -2.00px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.screen .text-wrapper-3 {
    top: 31px;
    left: 0;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -2.00px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.screen .text-wrapper-4 {
    top: 62px;
    left: 0;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -2.00px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.screen .text-wrapper-5 {
    top: 0;
    left: 84px;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #3256fe;
    font-size: 20px;
    letter-spacing: -2.00px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.screen .text-wrapper-6 {
    top: 31px;
    left: 84px;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #3256fe;
    font-size: 20px;
    letter-spacing: -2.00px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.screen .text-wrapper-7 {
    top: 62px;
    left: 84px;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #3256fe;
    font-size: 20px;
    letter-spacing: -2.00px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.screen .text-wrapper-8 {
    top: 0;
    left: 124px;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1.00px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.screen .text-wrapper-9 {
    top: 31px;
    left: 124px;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1.00px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.screen .text-wrapper-10 {
    top: 62px;
    left: 124px;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1.00px;
    position: absolute;
    line-height: 21px;
    white-space: nowrap;
}

.screen .overlap-wrapper {
    position: absolute;
    width: 390px;
    height: 80px;
    top: 10px;
    left: 0;
}

.screen .overlap {
    position: relative;
    height: 80px;
}

.screen .rectangle {
    position: absolute;
    width: 390px;
    height: 65px;
    top: 0;
    left: 0;
    background-color: #fafbff;
}

.screen .group-5 {
    position: absolute;
    width: 390px;
    height: 65px;
    top: 15px;
    left: 0;
    background-color: #fafbff;
}

.screen .img {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 11px;
    left: 21px;
}

.screen .group-6 {
    position: absolute;
    width: 94px;
    height: 42px;
    top: 8px;
    left: 269px;
}

.screen .phosphor-icons-2 {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0;
    left: 0;
}

.screen .phosphor-icons-3 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 1px;
    left: 54px;
}

p{
    margin:0
}

.live-div {
  width: 100%;
  max-width: 330px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#live-video {
  width: 100%;
  height: auto;
  object-fit: cover;
}
